.navbar-custom {
    background: linear-gradient(to right, #1c1c1c, #c4c4c4);
}
.nav-link {
    color: white;
    font-size: 25px;
}
.card-height {
    height: 350px;
    overflow: hidden;
}
footer {
    background-color: #f8f9fa;
    padding: 20px 0;
    text-align: center;
}