<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"></head>
<body>

<div th:replace="fragments/navbar">Navbar</div>

<div class="container-md d-flex justify-content-center">
  <h1>Roles</h1>
</div>

<div class="container-md d-flex justify-content-center">
  <form th:action="@{/roles/add}"
        th:method="post"
        th:object="${rolesModel}">
    <div class="mb-3">
      <label for="userName" class="col-form-label">Name</label>
      <input type="text" class="form-control" id="userName" th:field="*{roleEnum}"
             th:errorclass="is-invalid">
      <p th:if="${#fields.hasErrors('roleEnum')}" th:errors="*{roleEnum}">Error message</p>
    </div>

    <button type="submit" class="btn btn-primary">Add Role</button>
  </form>
</div>

</body>
</html>