<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"></head>
<body>

<div th:replace="fragments/navbar">Navbar</div>

<div class="container-md d-flex justify-content-center">
    <form th:action="@{/users/add}"
          th:method="post"
          th:object="${usersModel}">
        <div class="mb-3">
            <label for="userName" class="col-form-label">User Name</label>
            <input type="text" class="form-control" id="userName" th:field="*{userName}"
                   th:errorclass="is-invalid">
            <p th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}">Error message</p>
        </div>

        <div class="mb-3">
            <label for="firstName" class="col-form-label">First Name</label>
            <input type="text" class="form-control" id="firstName" th:field="*{firstName}"
                   th:errorclass="is-invalid">
            <p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Error message</p>
        </div>

        <div class="mb-3">
            <label for="lastName" class="col-form-label">Last Name</label>
            <input type="text" class="form-control" id="lastName" th:field="*{lastName}"
                   th:errorclass="is-invalid">
            <p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Error message</p>
        </div>

        <div class="mb-3">
            <label for="password" class="col-form-label">Password</label>
            <input type="password" class="form-control" id="password" th:field="*{password}"
                   th:errorclass="is-invalid">
            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Error message</p>
        </div>

        <div class="mb-3">
            <label for="imageURL" class="col-form-label">Image URL</label>
            <input type="text" class="form-control" id="imageURL" th:field="*{imageURL}"
                   th:errorclass="is-invalid">
            <p th:if="${#fields.hasErrors('imageURL')}" th:errors="*{imageURL}">Error message</p>
        </div>

        <div class="mb-3">
            <label for="brand" class="col-form-label">Role</label>
            <select class="form-select" aria-label="Default select example" id="brand" th:field="*{roleName}" th:errorclass="is-invalid">
                <option
                        th:each="role : ${availableRole}"
                        th:value="${role.roleEnum}"
                        th:text="${role.roleEnum}">
                </option>
            </select>
            <p th:if="${#fields.hasErrors('roleName')}" th:errors="*{roleName}">Error message</p>
        </div>c

        <button type="submit" class="btn btn-primary">Add Brand</button>
    </form>
</div>

</body>
</html>