<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"></head>
<body>

<div th:replace="fragments/navbar">Navbar</div>

<div style="position: relative;">
    <img class="full-width-image" src="https://foto.carexpert.ru/img/1600x900/audi5937.jpg" alt="Audi Image">
    <div style="position: absolute; top: 10px; left: 50%; transform: translateX(-50%); text-align: center; color: #2c2c2c; width: 100%;">
        <h1>The best car sales service</h1>
        <p>We are the best in the world</p>
    </div>
</div>

<footer>
    <p>Production by Irvanev</p>
</footer>
</body>
</html>