<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"></head>
<body>

<div th:replace="fragments/navbar">Navbar</div>

<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <img th:src="${modelInfo.imageURL}" class="card-img-top" alt="Brand Image">
        <div class="card-body">
          <h5 class="card-title" th:text="${modelInfo.brandName} + ' ' + ${modelInfo.name}"></h5>
          <p class="card-text">Category: <span th:text="${modelInfo.categoryEnum}"></span></p>
          <p class="card-text">Start year: <span th:text="${modelInfo.startYear}"></span></p>
          <p class="card-text">End year: <span th:text="${modelInfo.endYear}"></span></p>
          <p class="card-text">Created: <span th:text="${modelInfo.created}"></span></p>
          <p class="card-text">Modified: <span th:text="${modelInfo.modified}"></span></p>
          <div class="d-grid gap-2">
            <a th:href="@{/models/modelDelete/{name}(name=${modelInfo.name})}" class="btn btn-danger">Удалить</a>
            <a href="#" class="btn btn-primary">Изменить</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>