<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"></head>
<body>

<div th:replace="fragments/navbar">Navbar</div>

<div class="container-md d-flex justify-content-between align-items-end mb-3">
    <div>
    </div>
    <div class="align-bottom mt-3">
        <a class="btn btn-info" th:href="@{/models/add}">Add Model</a>
    </div>
</div>

<div class="container-md d-flex justify-content-center">

    <div class="card mt-3 m-md-3" th:each="model : ${models}" style="width: 18rem;">
        <img th:src="${model.imageURL}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title" th:text="${model.brandName} + ' ' + ${model.name}">Card title</h5>
            <p class="card-text" th:text="${model.categoryEnum}"></p>
            <a th:href="@{/models/showModelInfo/{name}(name=${model.name})}" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

</div>

</body>
</html>