<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"></head>
<body>

<div th:replace="fragments/navbar">Navbar</div>

<div class="container-md d-flex justify-content-center">
    <div class="align-bottom"><a class="btn btn-info align-bottom"
                                 th:href="@{/roles/add}">Add Role</a>
    </div>
</div>

<div class="container-md d-flex justify-content-center">

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Name</th>
        </tr>
        </thead>
        <tbody class="align-middle">
        <tr th:each="role : ${roles}">

            <td>
                <a  th:text="${role.roleEnum}"></a>
            </td>

        </tr>
        </tbody>
    </table>
</div>

</body>
</html>